<main>
  <h1><%= title %></h1>

  <% if (locals.message) { %>
    <div class="flash-message"><%= message %></div>
  <% } %>

  <form action="/account/register" method="post" action="/account/register" class="register-form">
    <label for="firstname">First name:</label>
    <input type="text" id="accountFirstname" name="account_firstname" required
           value="<%= locals.account_firstname %>">

    <label for="lastname">Last name:</label>
    <input type="text" id="accountLastname" name="account_lastname" required
           value="<%= locals.account_lastname %>">

    <label for="email">Email address:</label>
    <input type="email" id="accountEmail" name="account_email" required
           value="<%= locals.account_email %>">

    <label for="accountPassword">Password:</label>  
    <span class="password-hint">
      Passwords must be at least 12 characters and contain at least 1 number,  
      1 uppercase letter, and 1 special character.
    </span>  

    <input type="password" name="account_password" id="accountPassword" required 
           pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
           title="Must be at least 12 characters, include 1 uppercase letter, 1 number, and 1 special character. No spaces.">

    <button type="button" class="toggle-password" onclick="togglePassword()">Show/Hide</button>

    <button type="submit">Register</button>
  </form>
</main>

<script>
  function togglePassword() {
    const passwordField = document.getElementById("password")
    if (passwordField.type === "password") {
      passwordField.type = "text"
    } else {
      passwordField.type = "password"
    }
  }
</script>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>